<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.5">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.12">
    <script>node 
{
   
   withCredentials([[
        $class: &apos;UsernamePasswordMultiBinding&apos;,
        credentialsId: &apos;sonarqube_cred_id&apos;,
        usernameVariable: &apos;username&apos;,
        passwordVariable: &apos;password&apos;]]) {
        BD_USER = &quot;${env.username}&quot;
        BD_PASSWORD = &quot;${env.password}&quot;
        }
        
        echo &quot;userid: $BD_USER&quot;
        echo &quot;pwd: $BD_PASSWORD&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>