<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.5">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REPO_BRANCH</name>
          <description></description>
          <defaultValue>cicd-pipeline</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPO_CRED_ID</name>
          <description></description>
          <defaultValue>abe68692-72fe-4064-8108-62713b4c42b1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPO_URL</name>
          <description></description>
          <defaultValue>https://Saikrishna_Gogula@bitbucket.org/pwcadc/adcclientms.git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REGISTRY_URL</name>
          <description></description>
          <defaultValue>https://index.docker.io/v1/</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>node 
{
   
   withCredentials([[
        $class: &apos;UsernamePasswordMultiBinding&apos;,
        credentialsId: &apos;sonarqube_cred_id&apos;,
        usernameVariable: &apos;username&apos;,
        passwordVariable: &apos;password&apos;]]) {
        BD_USER = &quot;${env.username}&quot;
        BD_PASSWORD = &quot;${env.password}&quot;
        }
        
        echo &quot;userid: $BD_USER&quot;
        echo &quot;pwd: $BD_PASSWORD&quot;
        echo &quot;registry url: ${env.REGISTRY_URL}&quot;

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>