<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.5">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>node 
{
def apiKey=&quot;f350b639-e7cc-447b-a830-3737eee4a6c0&quot;
productname=&quot;java&quot;
productversion=&quot;0.0.1&quot;
echo &quot;apikey: ${apiKey}&quot; &gt; whitesource.config.json
//sh &apos;&apos;&apos;echo &apos;{&quot;apiKey&quot;:&quot;&apos; + &apos;$apiKey&apos; + &apos;&quot;,&quot;checkPolicies&quot;:true,&quot;productName&quot;:&quot;&apos; + ${productname} + &apos;&quot;,&quot;productVer&quot;:&quot;&apos; + ${productversion} + &apos;&quot;,&quot;devDep&quot;: &quot;true&quot;}&apos; &gt; whitesource.config.json&apos;&apos;&apos;     
    sh &quot;ls -ltr&quot;
    sh &quot;cat whitesource.config.json&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>