<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.5">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>node 
{
apiKey=&quot;f350b639-e7cc-447b-a830-3737eee4a6c0&quot;
productname=&quot;java&quot;
productversion=&quot;0.0.1&quot;

writeFile file: &quot;whitesource.config.json&quot;, text: &quot;$apikey $productname $productversion&quot;
   
    sh &quot;ls -ltr&quot;
    sh &quot;cat whitesource.config.json&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>