<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.5">
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>import groovy.json.JsonBuilder
node 
{
def jsonBuilder = new JsonBuilder()
jsonBuilder
{
    apiKey &quot;f350b639-e7cc-447b-a830-3737eee4a6c0&quot;
    checkPolicies &quot;false&quot;
    productName &quot;adcclientms&quot;
    productVer &quot;1.0.0&quot;
    devDep &quot;true&quot;
}
println &quot;JSON Pretty Printed Config &quot;
println &quot;==========================&quot;
println JsonOutput.prettyPrint(jsonBuilder.toString())

String outputFile = &apos;whitesource.config.json&apos;
def fileWriter = new FileWriter(outputFile)
jsonBuilder.writeTo(fileWriter)
fileWriter.flush()
def fileContents = new File(outputFile).text
println &quot;File contents : &quot; + fileContents
println &quot;&quot;
println &quot;File Contents PrettyPrint&quot;
println &quot;=========================&quot;
println JsonOutput.prettyPrint(fileContents)
}    </script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>